<template>
    <footer class="main-footer">
        <div class="wrapper brdr1--top bcg1 pv2 mv4">
            <p class="ft13 basic-text tac">Laravel is a trademark of Taylor Otwell. Copyright © Laravel LLC. All
                rights reserved. <a href="#" class="tc1 fw6">Terms of service.</a></p>
        </div>
    </footer>
</template>
