<script type="text/ecmascript-6">
    import axios from 'axios'
    import Spinner from '../../components/Loaders/Spinner.vue'
    import Message from '../../components/Messages/Message.vue'

    export default {
        props: ['type'],

        components: {Message, Spinner},

        /**
         * The component's data.
         */
        data(){
            return {
                page: 1,
                perPage: 50,
                totalPages: 1,
                loadState: {
                    index: true, failed: true
                },
                jobs: {
                    index: [], failed: []
                }
            };
        },


        /**
         * Prepare the component.
         */
        mounted() {
            this.loadJobs(this.$route.params.tag, this.type);

            this.refreshJobsPeriodically();
        },


        /**
         * Watch these properties for changes.
         */
        watch: {
            '$route'(){
                this.page = 1;

                this.loadJobs(this.$route.params.tag, this.type);
            }
        },


        methods: {
            /**
             * Load the jobs of the given tag.
             */
            loadJobs(tag, jobType, starting = 0, preload = true) {
                if (preload) {
                    this.loadState[jobType] = true;
                }

                return axios.get('/horizon/api/monitoring/' + tag + '/' + jobType + '?starting_at=' + starting + '&limit=' + this.perPage)
                        .then(response => {
                            this.jobs[jobType] = response.data.jobs;

                            this.totalPages = Math.ceil(response.data.total / this.perPage);

                            this.loadState[jobType] = false;

                            return response.data.jobs;
                        });
            },


            /**
             * Refresh the jobs every period of time.
             */
            refreshJobsPeriodically(){
                setInterval(() => {
                    if (this.page != 1) {
                        return;
                    }

                    this.loadJobs(this.$route.params.tag, this.type, 0, false);
                }, 10000);
            },


            /**
             * Load the jobs for the previous page.
             */
            previous(){
                this.loadJobs(this.$route.params.tag, this.type,
                        (this.page - 2) * this.perPage
                );

                this.page -= 1;
            },


            /**
             * Load the jobs for the next page.
             */
            next(){
                this.loadJobs(this.$route.params.tag, this.type,
                        this.page * this.perPage
                );

                this.page += 1;
            }
        }
    }
</script>
<template>
    <div>
        <div v-if="loadState[type]" style="text-align: center; margin: 50px;">
            <spinner/>
        </div>

        <message v-if="!loadState[type] && !jobs[type].length" text="There aren't any recent jobs for this tag."/>

        <table v-if="! loadState[type] && jobs[type].length" class="table panel-table" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th class="pl2">Jobs</th>
                <th>Status</th>
                <th>On</th>
                <th>Tags</th>
                <th>Runtime</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="job in jobs[type]">
                <td class="ph2">{{ job.name }}</td>
                <td>
                    <i>
                        <svg>
                            <use v-if="job.status != 'completed'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#zondicon-hour-glass"></use>
                            <use v-else xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#zondicon-checkmark"></use>
                        </svg>
                    </i>
                </td>
                <td>{{ job.queue }}</td>
                <td>{{ job.payload.tags && job.payload.tags.length ? job.payload.tags.join(',') : '' }}</td>
                <td>{{ job.completed_at ? String(job.completed_at - job.reserved_at)+'s' : '-' }}</td>
            </tr>
            </tbody>
        </table>


        <div v-if="! loadState[type]" class="simple-pagination">
            <button @click="previous" class="btn btn-primary btn-md" :disabled="page==1">Previous</button>
            <button @click="next" class="btn btn-primary btn-md" :disabled="page>=totalPages">Next</button>
        </div>
    </div>
</template>

