.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: fade(@brand-primary, 80%);
  // background-color: fade(#000, 20%);
  .df;
  .aic;
  .acc;
  .jcc;
}

.modal-content {
  .bgg11;
  .br6;
  min-width: 400px;
  overflow: hidden;
  margin-top: 10rem;
  align-self: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.modal-header {
  .pa2;
  .bgw;
}

.modal-body {
}

.modal-footer {
  .df;
  .jcfe;
  .aife;
  .pa2;
}
