// Margin
.mh2 { margin-left: 2rem; margin-right: 2rem }

.mt10 { margin-top: 10rem }

.ml1 { margin-left: 1rem }
.ml1\.5 { margin-left: 1.5rem }
.ml2 { margin-left: 2rem }

.mr0\.5 { margin-right: 0.5rem }
.mr1 { margin-right: 1rem }
.mr1\.5 { margin-right: 1.5rem }
.mr2 { margin-right: 2rem }

.mb1 { margin-bottom: 1rem }
.mb1\.5 { margin-bottom: 1.5rem }
.mb2 { margin-bottom: 2rem }
.mb3 { margin-bottom: 3rem }

.mv1 { margin-top: 1rem; margin-bottom: 1rem; }
.mv2 { margin-top: 2rem; margin-bottom: 2rem; }
.mv3 { margin-top: 3rem; margin-bottom: 3rem; }
.mv4 { margin-top: 4rem; margin-bottom: 4rem; }

// Padding
.pa2 { padding: 2rem }
.pa4 { padding: 4rem }
.pa6 { padding: 6rem }
.pa8 { padding: 8rem }

.pb1 { padding-bottom: 1rem }
.pb1\.5 { padding-bottom: 1.5rem }
.pb2 { padding-bottom: 2rem }
.pb3 { padding-bottom: 3rem }

.pl1 { padding-left: 1rem }
.pl1\.5 { padding-left: 1.5rem }
.pl2 { padding-left: 2rem }

.ph1 { padding-left: 1rem; padding-right: 1rem }
.ph2 { padding-left: 2rem; padding-right: 2rem }

.pv1 { padding-top: 1rem; padding-bottom: 1rem }
.pv2 { padding-top: 2rem; padding-bottom: 2rem }
.pv3 { padding-top: 3rem; padding-bottom: 3rem }

.pr3 { padding-right: 3rem }
